* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 40%;
    background: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 50px;
    margin: 0;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 0;
}

.submit-btn {
    background-color: rgb(245, 245, 245);
}

.right-container > div:nth-child(odd) {
    padding-left: 50px;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}
