* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 40%;
    background: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 50px;
    margin: 0;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 0;
}

.submit-btn {
    background-color: rgb(245, 245, 245);
}

.right-container > div:nth-child(odd) {
    padding-left: 50px;
}
