* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 40%;
    background: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
}

.right-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: white;
}

.form-row {
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    margin: 0;
}

#last-row {
    padding-bottom: 50px;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 0;
}

.submit-btn {
    padding-left: 50px;
    background-color: rgb(245, 245, 245);
}

.right-container > div:nth-child(odd) {
    padding-left: 50px;
    margin-bottom: 20px;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
    font-weight: bolder;
}

label {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(102, 102, 102);
}

input {
    font-size: 1.3em;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    padding-left: 5px;
}

input:focus {
    outline: none;
    border: 1px solid lightblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button:hover {
    cursor: pointer;
}

input:user-invalid, .error {
    border: 1px solid rgb(255, 121, 121);
    background-color: rgb(255, 199, 199);
}

input:user-valid {
    border: 1px solid green;
}

.hidden {
    display: none;
}

#password-error {
    margin-top: 3px;
    color: red;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color:#596D48;
}

